{% extends 'base.html' %}

{% block main %}
<h3>Click button to submit plan for the week</h3>
<form action="{{url_for('checkout')}}" method="POST">
  <label for="start">Week Plan Date:</label>
  {% if week == None %}
  <input type="date" id="start" name="week-date"
         value="{{newdate}}" min="{{newdate}}" max="">
  {%else%}
  <input type="date" id="start" name="week-date"
         value="{{week}}" min="{{week}}" max="">
  {%endif%}
  <button type="submit" class="btn btn-primary">Add Meal</button>
</form>
{% for key,recipe in session['mealcart'].items()%}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/uploads/{{recipe.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Meal: {{recipe.name}}</h5>
      <h5 class="card-title">Meal Type: {{recipe.type}}</h5>
      <h5 class="card-title">servings: {{recipe.servings}}</h5>
      <p class="card-text"></p>
      <div style="text-align: center;">
        <a href="{{url_for('deleteitemcart',code=key)}} " class="btn btn-danger" id="checkoutbutton2">Remove</a>
      </div>
    </div>
  </div>
{% endfor%}

{% endblock %}
